@font-face {
    font-family: KiteOne;
    src: url("/Font/Kite_One/KiteOne-Regular.ttf");
}

@font-face {
    font-family: Holtwood_One_SC;
    src: url("/Font/Holtwood_One_SC/HoltwoodOneSC-Regular.ttf");
}


@font-face {
    font-family: Homemade_Apple;
    src: url("/Font/Homemade_Apple/HomemadeApple-Regular.ttf");
}


@font-face {
    font-family: Khand;
    src: url("/Font/Khand/Khand-Regular.ttf");
}